@font-face {
    font-family: PackardClipperNF;
    src: url(../fonts/packardclippernf.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin:auto;
}

h1 {
    font-family: PackardClipperNF;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: normal; 
}

/* Logo styling */
#logo-phan {
    font-size: 50px;
}
#logo-partners {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 0%
}

h2, h3 {
    font-weight: bold; 
}